/*Override fastly css*/
@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

/* For jquery datatable */
.dataTables_filter {
    display: none;
}

.floatTable {
    position: absolute;
    top: 35px;
    width: 600px;
    height: 400px;
    z-index: 1;
    display: none;
}

/* For jquery autocomplte table */

.search-box {
    top: 8px!important;
}

.acontainer input {
    height: 28px;
    line-height: 14px;
    width: 196px;
    float: left;
}

.adropdown table {
    line-height: 25px;
}

.auto-input {
    height: 28px;
    line-height: 14px;
    width: 196px;
    float: left;
    border-radius: 2px;
    color: #000;
    padding-left: 5px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 10px solid #ccc;

}

/* For show chart and data */

.showArea {
    height: 350px;
    /*width: 690px;*/
    width: 910px;
}

.port-billing-area button {
    display: none;
}

.stats-header {
    display: block;
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #555;
}

.stats-header h3 {
    display: inline-block;
    margin-left: 20px;
}

.stats-header .stats-controls {
    display: inline-block;
    float: right;
    margin-right: 30px
}
